<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Botrix | Discord Bot List" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://botrix.cc/" />
        <meta property="og:image" content="https://media.discordapp.net/attachments/747602999035166810/748399137644609676/logo-alt.png" />
        <meta property="og:description" content="The easiest and fastest website to grow your discord bot and community!" />
        <meta name="theme-color" content="#FF2142">
        <meta name="twitter:card" content="summary">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
    <link rel="shortcut icon" href="">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <title>Botrix</title>
   <script src="/js/main.js"></script>
</head>
<body>
    <%- include("../templates/bar") %>

    <div class='paddingMainContenet' style='text-align: center;'>
        <h1>Buy BTX.</h1>
    </div>
    <br>
    <div class='limiterContainer'>
        <hr>
        <div class='storeCards'>
            <img src='https://cdn.discordapp.com/attachments/748340693881192484/766189908884193290/basic.png'>
            <div class='priceTag'>
                <h1>200 BTX</h1>
                <h3>1.99$</h3>
            </div>
        </div>
    </div>

    <script>var user = "<%= user %>";
    </script>
</body>
</html>
