<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Botrix" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://botrix.cc/" />
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
        <meta property="og:description" content="Certify your bot!" />
        <meta name="theme-color" content="#fca311">
        <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
        <meta name="twitter:card" content="summary">
        <meta property="twitter:image" content="https://cdn.discordapp.com/splashes/721282458708082713/fc34242e027249650ab26d99fb1a479a.jpg?size=2048">
        <link rel="icon" 
        type="image/png" 
        href="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script async src="https://arc.io/widget.js#B53NPMmi"></script>
    <link rel="shortcut icon" href="">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <title>Botrix</title>
   <script src="/js/main.js"></script>
</head>
<body>
    <%- include("../templates/bar") %>
    <div class='text-centered top-padding'>
        <img height='400px' src='https://cdn.discordapp.com/attachments/748340693881192484/760017137351000134/cert-badge.png'>
        <h1>Botrix certified program</h1>        
        <p>Make your Bot, more powerful and awesome, by just applying for our Certified Bot Program</p>
        <br>
        <a class='button' href='/certified/add' style='background-color: #00fca3;'>Apply for Program</a>
    </div>

    <br>
    <br>
    <div style='padding: 50px 50px; text-align: -webkit-center;'>
        <h1>Perks for your Bot being Certified</h1>
        <div style='padding: 10px;'>
            <p>Let users know, what your Bot can do. By applying for our certified Program, your bot is the one<br>Having this splendid green badge, is not just for style, it also helps improve the search visibility for your Bot.<br>Get your bot seen by more people and grow your bot faster.</p>
       
        </div>
    </div>

    <div style='padding: 50px 50px; text-align: -webkit-center;'>
        <h1>Requirements</h1>
        <div style='padding: 10px;'>
            <h1>Bots:</h1>
            <p>Have at least a total member count of 1000 <br>
                25 votes<br>
                NSFW channel locked NSFW commands<br>
                Have an informative and detailed bot page on botrix<br>
                Have either a support server or a website<br>
                Been listed on Botrix, for at least 14 days<br>
                Have a minimum of 7 bot commands<br></p>

            <br>
            
            <h1>Servers:</h1>
            <p>
                Have at least 150 members<br>
                25 votes <br>
                Enforce and follow all discord TOS<br>
                Have an informative server description on botrix<br>
                Been listed on Botrix for at least 14 days<br>
            </p>
        </div>
    </div>

</body>
</html>
