<!DOCTYPE html>
<html lang="en">
<head>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
    <title>Botrix</title>
    <link rel="icon" 
    type="image/png" 
    href="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="shortcut icon" href="">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="https://arc.io/widget.js#B53NPMmi"></script>
    <script src="/js/bots/user/vote.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <%- include("templates/bar") %>
    <div style='color: white !important; padding: 100px 50px;'>
        <h2>Botrix Terms of Service</h2>
        <h3>1. Terms</h3>
        <p>By accessing the website at <a href="https://botrix.cc">https://botrix.cc</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
        <h3>2. Use License</h3>
        <ol type="a">
           <li>Permission is granted to temporarily download one copy of the materials (information or software) on Botrix's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
           <ol type="i">
               <li>modify or copy the materials;</li>
               <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
               <li>attempt to decompile or reverse engineer any software contained on Botrix's website;</li>
               <li>remove any copyright or other proprietary notations from the materials; or</li>
               <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
           </ol>
            </li>
           <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Botrix at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
        </ol>
        <h3>3. Disclaimer</h3>
        <ol type="a">
           <li>The materials on Botrix's website are provided on an 'as is' basis. Botrix makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
           <li>Further, Botrix does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
        </ol>
        <h3>4. Limitations</h3>
        <p>In no event shall Botrix or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Botrix's website, even if Botrix or a Botrix authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
        <h3>5. Accuracy of materials</h3>
        <p>The materials appearing on Botrix's website could include technical, typographical, or photographic errors. Botrix does not warrant that any of the materials on its website are accurate, complete or current. Botrix may make changes to the materials contained on its website at any time without notice. However Botrix does not make any commitment to update the materials.</p>
        <h3>6. Links</h3>
        <p>Botrix has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Botrix of the site. Use of any such linked website is at the user's own risk.</p>
        <h3>7. Modifications</h3>
        <p>Botrix may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
        <h3>8. Governing Law</h3>
        <p>These terms and conditions are governed by and construed in accordance with the laws of Canada and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        
        
    </div>

      <script>
        var user = "<%= user %>"
</script>
</body>
</html>
