<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Botrix | Discord Bot List" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://botrix.cc/" />
        <meta property="og:image" content="https://media.discordapp.net/attachments/747602999035166810/748399137644609676/logo-alt.png" />
        <meta property="og:description" content="The easiest and fastest website to grow your discord bot and community!" />
        <meta name="theme-color" content="#FF2142">
        <meta name="twitter:card" content="summary">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
    <link rel="shortcut icon" href="">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <title>Botrix</title>
   <script src="/js/main.js"></script>
</head>
<body>
    <%- include("templates/bar") %>
        <div class='offCentered paddingMainContenet'>
            <div style='float: left; padding-top: 50px;'>
                <h1>BTX The new Onsite currency from Botrix</h1>
                <p>Wait what? A Discord list has a currency? (Well Kinda)</p>
                <br>
                <br>
                <a class='button' href='/wallet/view' style='width: 49%; float: left;'>View Wallet</a>
                <a class='button' href='#why' style='width: 49%; float: right;'>Why?</a>
            </div> 
            <img src='https://i.imgur.com/BbnTF7z.png' style="float: right; width: 300px; height: auto;" class='cetnered'>
        </div>

        <div style='padding-top: 200px;'>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style='margin-bottom: -50px; width: 100%;'>
                <path style='fill: var(--accentColor);' fill-opacity="1" d="M0,160L1440,224L1440,320L0,320Z"></path>
              </svg>
            <div class='wallet-page-below-header'>
                <h1 style='padding: 30px; color: black;' id='why'>What is BTX?</h1>
                <br>
                <div style='padding-left: 100px;'>
                    <h3>BTX is the best way to help out your favourite server/bot</h3>
                    <br>
                    <p style='padding: 20px; color: black;'>Help out the community you love by helping them grow. So, how does this work? You can give BTX to a server/bot the higher amount of BTX that a server/bot gets the higher that it will appear on the search results. By buying BTX you help out botrix to stay up and grow.<br></p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

    <script>var user = "<%= user %>";
    </script>
</body>
</html>
