<div class="card" style="background-color: #a96900;">
    <img src=""
        onerror="this.src = 'https://cdn.discordapp.com/avatars/751100444188737617/fe552d5fa94f1da286eb4179deb118f4.png' ? 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4462550.png&amp;f=1&amp;nofb=1' : 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4462550.png&amp;f=1&amp;nofb=1' "
        class="bannerHoler">
    <div class="badgeHolderCards">

    </div>
    <div class="iconHolder" style="padding: 20px;">
        <img src="https://cdn.discordapp.com/embed/avatars/0.png"
            onerror="this.src = 'https://cdn.discordapp.com/embed/avatars/0.png'" class="icon">
    </div>
    <h3 class="title">Sponsored
    </h3>
    <div class="tagsHodler">
        <a class="topTagsCard">∞ Votes</a>
    </div>
    <p class="desc" style="color: white;">This is a sponsored slot!
        Join our discord to gain more info!
    </p>
    <a class="bot-btns" href="/join">Join the discord</a>

</div>